*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}



/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 80px;

background:white;

}

.logo{

font-size:26px;
font-weight:bold;
color:#6a3eb1;

}

.menu{

display:flex;
gap:30px;
list-style:none;

}



/* HERO */

.hero{

display:flex;
justify-content:space-between;
align-items:center;

padding:100px 80px;

background:linear-gradient(
135deg,
#7b4dff,
#9b6dff,
#caa8ff
);

color:white;

}

.hero-text h1{

font-size:50px;

}

.hero-text h2{

margin-top:10px;

}

.hero-text p{

margin:25px 0;

max-width:420px;

font-size:18px;
line-height:1.6;

}

.hero-text button{

padding:12px 28px;

background:white;
color:#6a3eb1;

border:none;
border-radius:25px;

font-weight:bold;
cursor:pointer;

}

.hero-image img{

width:320px;

}



/* FITUR */

.fitur{

padding:90px 80px;
text-align:center;

background:#f9f9ff;

}

.fitur h2{

font-size:34px;
color:#6a3eb1;

}

.fitur-container{

display:flex;
justify-content:center;

gap:40px;
margin-top:40px;

}

.fitur-card{

width:230px;

background:white;

padding:30px;

border-radius:16px;

box-shadow:0 10px 20px rgba(0,0,0,0.08);

}

.fitur-card h3{

margin-bottom:10px;

}



/* ICON FITUR */

.fitur-icon{

width:70px;
height:70px;

display:flex;
align-items:center;
justify-content:center;

margin:auto;
margin-bottom:15px;

background:linear-gradient(
135deg,
#7b4dff,
#9b6dff
);

color:white;

font-size:28px;

border-radius:50%;

}



/* ABOUT */

.about{

padding:110px 80px;

background:linear-gradient(
135deg,
#f3edff,
#ffffff
);

}

.about-text{

max-width:650px;
margin:auto;

text-align:center;

}

.about-text h2{

font-size:36px;

margin-bottom:20px;

color:#6a3eb1;

}

.about-text p{

font-size:18px;

line-height:1.8;

color:#555;

}



/* TESTIMONI */

.testimoni{

padding:110px 80px;

text-align:center;

background:#faf8ff;

}

.testimoni h2{

font-size:38px;

color:#6a3eb1;

margin-bottom:10px;

}

.testimoni-container{

display:flex;
justify-content:center;

gap:30px;

margin-top:50px;

}

.testi-card{

background:linear-gradient(
135deg,
#7b4dff,
#9b6dff
);

color:white;

padding:30px;

width:220px;

border-radius:16px;

box-shadow:0 12px 25px rgba(0,0,0,0.15);

}

.testi-card h4{

font-size:20px;

margin-bottom:8px;

}

.testi-card p{

font-size:15px;

line-height:1.6;

}

.stars{

margin-bottom:10px;

color:#ffd700;

}



/* FOOTER */

footer{

background:linear-gradient(
135deg,
#6a3eb1,
#8a5cff
);

color:white;

padding:70px 80px;

}

.footer-container{

display:flex;
justify-content:space-between;

}

.footer-about{

max-width:320px;

}

.footer-container h3{

margin-bottom:10px;

}

.footer-container p{

font-size:14px;
margin-top:6px;

}